body{
    background-image: url("back1.jpg");
    background-size: cover;
    font-family: 'Acme';
}

.container{
    position: relative;
    float: left;
    overflow: auto;
    width:190px;
    margin:12px;
    z-index: 1;
}

.des{
    position: absolute;
    box-sizing: border-box;
    font-size: 13px;        
    top:0;
    left:0;
    padding: 5px;
    width:98%;
    overflow:hidden;
    height: 98%;
    color:white;
}

h1{
    float: left;
}
form{
    float: right;
    position: relative;
    padding: 20px;
}

form input{
    border:none;
    height:20px;
    border-radius: 8px;
}

.nav{
    overflow: auto;
    background-color: teal;
}

.more{
    position:absolute;
    left:30%;
    top:240px;
    visibility: hidden;
}

.nav a{
    float: right;
    position: relative;
    top:15px;
    padding:15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.active{
    background-color: black;
}

.nav button{
    border-radius: 10px;
    position: relative;
    top:5px;
    border:none;
}

#livesearch{
    position: absolute;
    top:60px;
    right:80px;
    z-index: 3;
    width:210px;
    text-align: left;
}

li a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    padding: 5px;
}
li:hover{
    background-color: gray;
}

h3{
    padding :10px;
}
